/* @import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* @font-face() */

/* .name{
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
  background-color: brown;
  color: white;
  
}

#bla{
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
  background-color: blueviolet;
  color: white;
} */