.box1{
    width: 200px;
    height: 200px;
    background-color: blue;
    padding: 60px  0;

    
}

.box2{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin: 0 auto;
}